.success {
    color: green;
}

.user-grid{
    margin: 0;
    width: 50%;
}

.select-redirecionar{
    float: right;
}

.panel-default{
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.pendentes{
    margin: -5px;
    width: 50%;
    float: right;
}
